<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SSD微信公众号-活动</title>
    <% include  public/head%>
    <link rel="stylesheet" type="text/css" href="bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./../public/front/style/actity.css">
</head>

<body class="ac_detail">
<div class="container-fluid">
    <div class="content">
        <h3> <a href="javascript:history.go(-1)" class=" back">birtv</a></h3>
        <div class="context_text mgtop">

            <h3><%= result.Name%></h3>
            <div class="media_meta">
                <sapn class="copy_logo">原创</sapn>
                <span class="time"><%= result.Year%>.<%=result.Date%></span>
                <span><%=result.Address %></span>
            </div>
            <%-result.Content.replace(/\/public\/uploads\//g,"./../public/uploads/")%>



          <!--  <p><a href="" class="handpoint">详情点击： http://www.birtv.com/birtv/2015/</a>
            </p>-->
            <p>关于更多Intel SSD官方信息，可关注（英特尔固态盘SSD）微信号：Intel_SSD，获取英特尔固态盘最新资讯与服务。</p>
        </div>
    </div>
</div>
<!--/container-fluid-->
</body>

</html>
