<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%=title%></title>
    <% include  public/head%>


</head>
<body class="product">

<div class="container-fluid">
<% include public/productCateNav%>








    <div class="content mgtop">

        <ul class="product_list products">
            <!--显示产品分类名-->
            <% cate.forEach(function(c){ %>
                <% if(c.Id==currentCateId){ %>
                     <li class="title"><%= c.Name %></li>
                <% }}) %>

            <!--显示分类的系列-->
            <% if (result.length>0){%>
            <% result.forEach(function(x){ %>
                <li>
                    <a href="./product?categoryId=<%= x.CategoryId %>&seriesId=<%=x.Id%>">
                        <%=x.Name%>
                     </a>
                    <span>  <%=x.Count%></span>
                </li>
            <%})} else {%>
                <div class="noData">没有数据</div>
            <%}%>

        </ul>
    </div>


</div><!--/container-fluid-->




<!-- Initialize Swiper -->


</body>
</html>